body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #1D2021;
	margin:0; padding:0;
}

.logoCon {
	position:relative;
	justify-content: center;
	display:flex;
	padding:15px;
	background-color: #1D2021;
}

.logo {
	width: 400px;
}

.nav {
	top:0;
	position:sticky;
	background-color: #1D2021;
	overflow: hidden;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.nav a {
	float: left;
	color: #EBDBB2;
	text-align: center;
	padding: 4px 16px;
	text-decoration: none;
	font-weight: bold;
	font-size: 1rem;
	/*border-radius:10px;*/
	transition: all 0.2s ease-in-out;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.nav a:hover {	
	background-color: #2E8A56;
}

.nav a.active {
	background-color: #F9F5D7;
	color: #282828;
}

.nav a#acessibilidade{
	background-color: #458588;
}

.nav a#acessibilidade:hover{
	color: #282828;
}

.body {
	border-radius:1rem;
	background-color: #F9F5D7;
	color: #282828;
	margin: 0 auto;
	max-width: 95%;/*700px 36em;*/
	padding: 20px;
	hyphens: auto;
	overflow-wrap: break-word;
	text-rendering: optimizeLegibility;
	font-size: 18px;
	font-kerning: normal;
	/*font-weight: bold;*/
	line-height: 1.5;
	text-align: justify;
}

.body p {
	text-indent: 50px;
}

.body h1, 
.body p, 
.body small {
	margin: 10px 20%;
}

.body h1 {
	display: block;
	text-align:center;
	/*background: #1D2021;
	border: 2px solid;
	border-radius: 1rem;
	color: #F9F5D7; */
	text-shadow: 0.1rem 0.1rem 0.5rem rgba(40, 40, 40, 0.2), -0.1rem -0.1rem 0.5rem rgba(40, 40, 40, 0.2);
}

.body small {
	display: block;
	text-align:center;	
}

.body a {
	color: #458588;
}

.body .primeiroBloco {
	display: flex;
	flex-direction: row;
	margin-left: 10%;
	margin-right: 10%;
	/*border: 1px red solid;*/
}

.body .primeiroBloco b {
	text-shadow: 0.1rem 0.1rem 0.5rem rgba(40, 40, 40, 0.2), -0.1rem -0.1rem 0.5rem rgba(40, 40, 40, 0.2);	
}

.body .primeiroBloco h1 {
	font-size: 1.5dvw;
}

.body .primeiroBloco .noticiasBloco {
	color: #1d2021;
	margin-right: auto;
	width: 100%;
	border-right: 5px solid;
	border-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(40, 40, 40,1) 50%, rgba(0,0,0,0) 100%) 1 100%;
	padding: 1rem;
}

.body .primeiroBloco .noticiasBloco img {
	width: 360px;
	height: 240px;
}

.body .primeiroBloco .artigosBloco {
	margin-left:auto;
	margin-top:auto;
	margin-bottom: auto;
	width: 100%;
	padding: 1rem;
}

.body .primeiroBloco .artigosBloco img {
	border-radius: 1rem;
	width: 240px;
	height: 240px;
}

.body img, 
.body iframe {
	margin: 15px;
	box-shadow: 0.1rem 0.1rem 0.5rem rgba(40, 40, 40, 0.5), -0.1rem -0.1rem 0.5rem rgba(40, 40, 40, 0.5);
	/*border:1px solid;*/
	border-radius: 1rem;
	width: 700px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.2s ease-in-out;
}

.body .progress {
	display: block;
	margin-top: -1rem;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	box-shadow: 0.1rem 0.1rem 0.5rem rgba(40, 40, 40, 0.5), -0.1rem -0.1rem 0.5rem rgba(40, 40, 40, 0.5);
	transition: all 0.5s ease-in-out;
	/*Set in JS*/
	width: 0.1px; 
	height: 0.1px;
	background: rgb(46,138,86);
}
.body .pesquisa {
	display: flex;
	justify-content:center;
}

.body .pesquisa input {
	margin-right: 5px;
	background-color: #FFFFFF;
	border-color: #1d2021;
	color: #1d2021;
	border: 1px solid;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.1rem 0.5rem rgba(40, 40, 40, 0.2), -0.1rem -0.1rem 0.5rem rgba(40, 40, 40, 0.2);
}

.body .notbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*@keyframes zoom {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}*/

.body .notbox .noticia {
	display:flex;
	/*flex-wrap:wrap;*/
	border: 1px solid #1D2021;
	border-radius: 1rem;
	overflow: hidden;
	background: #1d2021;
	color: #ebdbb2; 
	padding: 1rem;
	margin: 1rem;
	width: 50%;
	/*height: 200px;*/
	text-decoration: none;
	box-shadow: 0.1rem 0.1rem 0.5rem rgba(40, 40, 40, 0.5), -0.1rem -0.1rem 0.5rem rgba(40, 40, 40, 0.5);
	/*animation: 0.5s ease-in-out zoom;*/
	transition: background-color 0.2s;
}

.body .notbox .noticia:hover {
	background-color: #2E8A56;	
}

.body .notbox .noticia img {
	width: 240px;
	height: 160px;
	box-shadow: 0.1rem 0.1rem 0.5rem rgba(235,219,178, 0.5), -0.1rem -0.1rem 0.5rem rgba(235,219,178, 0.5);
	margin: 1rem;
}

.body .notbox .noticia .text {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-shadow: 0.1rem 0.1rem 0.5rem rgba(235,219,178, 0.2), -0.1rem -0.1rem 0.5rem rgba(235,219,178, 0.2);
	text-decoration: none;	
	hyphens: auto;
	overflow-wrap: break-word;
	text-rendering: optimizeLegibility;
	margin: 1rem;
	font-size: 1rem;
}

.page {
	bottom:0;
	position:sticky;
	overflow: hidden;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.page a {
	float: left;
	color: #EBDBB2;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
	font-weight: bold;
	font-size: 1rem;
	background-color: #1D2021;
	margin: 5px;
	border-radius: 100%;
	border: 1px solid #ebdbb2;
	transition: all 0.2s ease-in-out;
	box-shadow: 0.1rem 0.1rem 0.5rem rgba(235,219,178, 0.5), -0.1rem -0.1rem 0.5rem rgba(235,219,178, 0.5);
	text-shadow: 0.1rem 0.1rem 0.5rem rgba(235,219,178, 0.2), -0.1rem -0.1rem 0.5rem rgba(235,219,178, 0.2);
}

.page a:hover {	
	background-color: #B8BB26;
	color: #282828;
}

.page a.active {
	background-color: #2E8A56;
}

.body .carregando {
	transition: all 0.5s ease-in-out;
}

.footer { 
	position: static;
	bottom: 0;
	left: 0;
	right: 0;	
	justify-content: center;
	display:flex;
	padding:4px;
	background-color: #1D2021;
	color: #EBDBB2;
}

@media screen and (max-width: 768px) {
	.nav a {
		padding: 16px 16px;
	}
	.logo {
		width: 65%;
	}
	.body {
		padding: 12px;
		text-align: center;
	}
	.body h1, 
	.body p, 
	.body small {
		text-indent: 0px;
		margin: 5px 5px;
	}
	.body img, 
	.body iframe {
		width:80%;
	}

	.body .primeiroBloco {
		margin: 0;
		flex-wrap: wrap;
	}

	.body .primeiroBloco h1 {
		font-size: 2rem;
	}

	.body .primeiroBloco .noticiasBloco {
		border: 0;
	}

	.body .notbox .noticia {
		justify-content: center;
		flex-wrap: wrap;
	}

	.body .notbox .noticia img {
		width: 70%;
		height: auto;
	}

	.page a {
		padding: 16px 24px;
	}
}
